@model System.Data.DataTable

@{
    ViewData["Title"] = "Crear nuevo";
}

<h1>Create</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Clase de Articulo</label>
                <select name="clase" class="form-control" required>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <option>@Model.Rows[i][0].ToString()</option>
                    }
                    
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input name="nombre" class="form-control" autocomplete="off" required />
            </div>
            <div class="form-group">
                <label class="control-label">Precio</label>
                <input name="precio" type="number" class="form-control" min="0" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <span class="text-danger">@ViewData["AI"]</span>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-danger" asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
